<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Informações do restaurante
      </mat-panel-title>
      <mat-panel-description>
        Imagem, nome do estabelecimento, CNPJ, descrição
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-restaurant-information (formResult)="restaurantInfoSubmit($event)"></app-restaurant-information>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Endereço
      </mat-panel-title>
      <mat-panel-description>
        Localização do estabelecimento
        <mat-icon>location_on</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-restaurant-address (formResult)="restaurantAddressSubmit($event)"></app-restaurant-address>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Horário de funcionamento
      </mat-panel-title>
      <mat-panel-description>
        Horário de funcionamento do estabelecimento
        <mat-icon>schedule</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-service-hours (formResult)="restaurantServiceHours($event)"></app-service-hours>
  </mat-expansion-panel>
</mat-accordion>



